footer {

    position: block;
    /* display: block; */
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    bottom: 300px;
    /* height: 70px; */
    text-align: center;
    color: aliceblue;
    margin-top: 90px;
    margin-bottom: auto;
}

footer img {
 cursor: pointer;
    height: 70px;
    padding: 20px;
   /* box-shadow: 3px 4px 2rem black; */
   border-radius: 40px;
}